;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue May 15 03:06:48 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("make-machine" "start" "set-contents!" "make-new-machine" "make-stack" "make-machine" "make-new-machine" "label-exp?" "cond" "label-exp?" "l" "la" "label-exp-label" "label-exp?" "lookup-label" "(lookup-label"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/git/SICP/machine.scm"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/peer/git/SICP/machine.scm"
  "machine.scm"
  'scheme-mode
  nil
  11825
  '(12140 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/peer/git/SICP/stream.scm"
  "stream.scm"
  'scheme-mode
  nil
  2866
  '(1269 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

